# Admin
admin/node_modules
admin/yarn-error.log
admin/.nuxt

# Backend
backend/*.exe
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/vendor/
backend/debug
backend/main
backend/mysql/data/

# .env
.env

# .DS_Store for Mac
.DS_Store
